{% extends 'todo/base.html' %}

{% block content %}
<div class="card-container">
    <div class=" card-header">
        <a href="{% url 'tasks' %}"> <i class="fa fa-arrow-left" style="color: #E27429; margin-bottom: 5px;"></i></a>
        <h1>Update Task: <span style="color: #E27429;">{{task.title|title}}</span></h1>
    </div>

    <div class="card-body">
        <form method="POST" action="">
            {% csrf_token %}
            <p>{{form.title.label}}
                {{form.title}}
            </p>

            <p>{{form.description.label}}
                {{form.description}}
            </p>
            <p>{{form.complete.label}}d
                {{form.complete}}
            </p>
            <input type="submit" class="button" value="Update">
        </form>
    </div>
</div>
{% endblock content %}